
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');



html {
  /*-- Main font sizes --*/
  --title-size:      1.25rem;
  --body-size:       1rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #252323;
  --header-color:    #252323;
  --body-color:      #252323;
  --aside-color:     #252323;
  --fig-cap-color:   #252323;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:   "Bitter" ,serif;
  --mono-font:       monospace;
  --body-font:       "Hanken", sans-serif;
  --navbar-font:     "Bitter", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    1.5rem;
  --contents-size:   1.1rem;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       20px;
  --text-color:       #E6EFE9;
  --text-size:        18px;
  --hover-color:      #EB6534;
  --bkgd-color:       #698F3F;
}

.distill-site-footer {
  --text-color:       #E6EFE9;
  --text-size:        15px;
  --hover-color:      #E6EFE9;
  --bkgd-color:       #698F3F;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */
.distill-site-header{
  padding-top: 1rem;
}
.distill-site-header .logo img{
  max-height: 40px;
}
